<% if user_signed_in? %>

<% else %>

<div class="center hero-unit">
    <h1>Welcome to smart SOS</h1>

    <h2>
      Stay connected with your local community during times of distress. Find out where you can get help, and how you can help others.
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>
</div>
<% end %>